*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

header{
    background-color:rgb(245, 218, 167) ;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    width: 50vw;
    display: flex;
    justify-content: space-around;
}
li{
    width: 5vw;
    color:slategrey;
}

li:hover{
    cursor: pointer;
    font-weight: bold;
    color:steelblue;
}


main{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-img{
    height: 40vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container-img img{
    width: 20vw;
    border-radius: 10%;
}